<div id="pca" class="col-md-9"></div>
<div id="pcbarchart" class="col-md-3">
        <div class="col-md-12 midtitle" style="margin-top:20px;display:none">
            Show PCA by Processes
        </div>
        <div class="col-md-12" style="margin-top:10px;display:none">
            <select class="selectpicker" id="pcafolders" data-style="btn-default" title="Pick process" data-width="175px">
            </select>
        </div>
        <div class="col-md-12" style="display:none"><hr></div>
        <div class="col-md-12 midtitle" style="margin-top:0px;margin-bottom:10px;">
            Color samples by
        </div>
</div>
<div class="col-md-3">
    <div class="col-md-12">
            <div id="pcbcsvg" class="panel-group"></div>
    </div>
    <div class = "col-md-12" id="criteriabutton"></div>
    <div class = "col-md-12" id="pcbctext" style="display:none">
    </div>
</div>